{%- assign full_width = section.settings.full_width -%}

{%- capture image_alt -%}Background{%- endcapture -%}
{% for media in product.media %}
{% if media.alt == image_alt %}
{%- assign header_image = media -%}
{% endif %}
{% endfor %}

{% if header_image %}
{%- assign img_src = header_image -%}
{% if full_width == false %}{%- assign size = 1280 -%}{% endif %}
{%- capture image_data -%}{%- render 'image-background-src', img_src: img_src, size: size -%}{%- endcapture -%}
{% endif %}

<section id="product-id-{{ section.id }}" 
         data-product-id="{{ product.id }}" 
         data-section-id="{{ section.id }}" 
         data-section-type="product_page"  
         data-carousel-type="section"
         data-surface="{{ section.settings.surface_enable }}"
         data-cart="{{ section.settings.go_to_cart_enable }}"
         data-zoom="{{ section.settings.zoom_enable }}"
         data-mobile-zoom="{{ section.settings.zoom_mobile_enable }}"
         data-image="{{ product.featured_image | img_url: '260x' }}"
         class="product-id product-{{ section.id }} clearfix">  
  
  {%- assign featured_media = product.selected_or_first_available_variant.featured_media | default: product.featured_media -%}

  <div class="{% if full_width %}{% if section.settings.include_color != 'color-none' %}background-colored {{ section.settings.include_color }} {% endif %}background-cover lazyload {% endif %}relative-{{ section.id }} clearfix"
       {% if full_width and header_image %} 
       data-bgset="{{ image_data | strip }}"
       data-sizes="auto"
       style="background-repeat: no-repeat;background-position: {{ section.settings.background_alignment }};"
       {% endif %}>
    {% if full_width and header_image %}
    <noscript>
      <div class="no-js-bg background-cover content-height-{{ section.id }} relative-{{ section.id }}" style="background:url({{ img_src | img_url: '2560x' }}) {{ section.settings.background_alignment }} no-repeat;"></div>
    </noscript>
    {% endif %}
    
    {% if section.settings.layout or section.settings.include_color != 'color-none' or header_image %}
    <div{% if full_width and header_image %} class="relative-{{ section.id }} background-overlay background-overlay-{{ section.id }}"{% endif %}>
      <div class="container clearfix">
        <div{% if full_width == false and section.settings.include_color != 'color-none' or header_image %} class="twelve"{% endif %}>
          <div class="{% if full_width == false %}{% if section.settings.include_color != 'color-none' %}background-colored {{ section.settings.include_color }} {% endif %}background-cover lazyload {% endif %}{% if header_image %}relative-{{ section.id }} {% endif %}{% if section.settings.font_color and section.settings.include_color != 'color-none' or header_image %}white {% endif %}clearfix"
               {% if full_width == false and header_image %} 
               data-bgset="{{ image_data | strip }}"
               data-sizes="auto"
               style="background-repeat: no-repeat;background-position: {{ section.settings.background_alignment }};"
               {% endif %}>
            {% if full_width == false and header_image %}
            <noscript>
              <div class="no-js-bg background-cover content-height-{{ section.id }} relative-{{ section.id }}" style="background:url({{ img_src | img_url: '1200x' }}) {{ section.settings.background_alignment }} no-repeat;"></div>
            </noscript>
            {% endif %}
            <div class="{% if full_width == false and header_image %}relative-{{ section.id }} background-overlay background-overlay-{{ section.id }}{% endif %}">
              <div class="container {% if section.settings.include_color != 'color-none' or header_image %}{% if full_width %}remove-pad {% else %}no-pad {% endif %}{% else %}remove-pad {% endif %}clearfix">
                <div class="table {% if section.settings.include_color != 'color-none' or header_image %}content-height-{{ section.id }} {% endif %}{% if full_width == false %}{% if section.settings.include_color != 'color-none' or header_image %}twelve{% endif %}{% endif %}">
                  {% if section.settings.layout %}
                  <div class="table-cell">
                    <div class="twelve text-center">
                      {% if section.settings.include_breadcrumbs %}
                      {%- render 'product-breadcrumbs' -%}
                      {% endif %} 
                      <h1 class="product-header">{{ product.title }}</h1>

                      {%- if product.metafields.qdl.short_description != blank -%}
                        <h4 class="product-short-descr">
                          {{- product.metafields.qdl.short_description -}}
                        </h4>
                      {%- endif -%}

                      {%- render 'product-form-details' -%}
                      {% if section.settings.include_social %}{%- render 'social-share', share_title: product.title, share_permalink: product.url, share_image: product.featured_media -%}{% endif %}
                    </div>
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

  </div>

  <div class="container{% unless section.settings.include_color != 'color-none' or header_image %} toppad{% endunless %} clearfix">
    <div{% if full_width == false and section.settings.include_color != 'color-none' or header_image %} class="twelve"{% endif %}>
      <div{% if full_width == false and section.settings.include_color != 'color-none' or header_image %} class="twelve"{% endif %}>
        <div class="product-grid-{{ section.id }}{% if section.settings.include_color != 'color-none' or header_image %} twelve{% endif %}">
          <div class="{% if section.settings.include_color != 'color-none' or header_image %}twelve background-white {% unless section.settings.product_availability_enable or template == 'product.quick' and settings.product_availability_enable_quick %}toppad {% endunless %}{% endif %}clearfix">
            
            {% if section.settings.layout == false and section.settings.include_breadcrumbs %}
            <div class="bottompad-half toppad clearfix">
              {%- render 'product-breadcrumbs' -%}
            </div>
            {% endif %} 
            
            {%- capture form_id -%}add-item-form-{{ section.id }}{%- endcapture -%}
            {%- capture form_class -%}{% if section.settings.go_to_cart_enable %}go-to-cart-{{ section.id }} {% endif %}product-form-{{ section.id }}  variants clearfix{%- endcapture -%}
            
            {% form 'product', product, id:form_id, class:form_class, data-product-form: '' %}
            
            {%- assign product_tabs = false -%}
            {%- assign icon_blocks_check = false -%}
            
            {% for block in section.blocks %}

            {% if block.type == 'page' %}
              {% if block.settings.tag != blank %}
                {% if product.tags contains block.settings.tag %}
            		{%- assign product_tabs = true -%}
                {% endif %}
              {% else %}
            	{%- assign product_tabs = true -%}
              {% endif %}
            {% endif %}

            {% if block.type == 'text' %}
              {% if block.settings.tag != blank %}
                {% if product.tags contains block.settings.tag %}
            		{%- assign product_tabs = true -%}
                	{%- assign product_tabs_text = true -%}
                {% endif %}
              {% else %}
            	{%- assign product_tabs = true -%}
              	{%- assign product_tabs_text = true -%}
              {% endif %}
            {% endif %}
            
            {% if block.type == 'html' %}
              {% if block.settings.tag != blank %}
                {% if product.tags contains block.settings.tag %}
            		{%- assign product_tabs = true -%}
                {% endif %}
              {% else %}
            	{%- assign product_tabs = true -%}
              {% endif %}
            {% endif %}

            {% if block.type == 'icon' %}
              {% if block.settings.tag != blank %}
                {% if product.tags contains block.settings.tag %}
                  {%- assign icon_blocks_check = true -%} 
                {% endif %}
              {% else %}
                {%- assign icon_blocks_check = true -%} 
              {% endif %}
            {% endif %}
            
            {% endfor %}
            
            {% if section.settings.layout %}
            <div class="text-center bottompad-quarter">
              {%- render 'product-form', form: form -%}
            </div>
            
            <div class="{% if product.media.size == 0 or product_tabs == false and product.description.size == 0 %}twelve center full-width{% else %}six right{% endif %}">
              <div class="shopify-payment-terms">{{ form | payment_terms }}</div>
              {% if section.settings.surface_enable %}<div class="{% unless product_tabs or product.description.size > 0 %}four center text-left {% endunless %}product-single__store-availability-container" data-store-availability-container data-product-title="{{ product.title | escape }}" data-has-only-default-variant="{{ product.has_only_default_variant }}" data-base-url="{{ shop.url | append: routes.root_url }}"></div>{% endif %}
              {% if icon_blocks_check %}{%- render 'product-icons' -%}{% endif %}
            </div>
            {% endif %}

            {% if product.media.size > 0 %}
            <div class="product-images four{% unless product_tabs or section.settings.layout == false or product.description.size > 0 %} center{% else %} left{% endunless %} bottompad">
              {%- render 'product-images' -%}
            </div>
            {% endif %}       

            {% if section.settings.layout == false %}
            <div class="product-details {% if product.media.size > 0 %}eight left{% else %}eight center{% endif %}{% unless product.media.size > 0 %}{% unless product_tabs or product.description.size > 0 %} center{% endunless %}{% endunless %} text-center bottompad"> 
              <h1 class="product-header">{{ product.title }}</h1>

              {%- if product.metafields.qdl.short_description != blank -%}
                <h4 class="product-short-descr">
                  {{- product.metafields.qdl.short_description -}}
                </h4>
              {%- endif -%}

              <div class="bold_qb_grid qb_grid" data-product-id="{{product.id}}"></div>

              {%- render 'product-form-details' -%}
              {%- render 'product-form', form: form -%}
              {% if section.settings.surface_enable %}<div class="product-single__store-availability-container eight center text-left" data-store-availability-container data-product-title="{{ product.title | escape }}" data-has-only-default-variant="{{ product.has_only_default_variant }}" data-base-url="{{ shop.url | append: routes.root_url }}"></div>{% endif %}
              {% if icon_blocks_check %}{%- render 'product-icons' -%}{% endif %}
              {% if section.settings.include_social %}{%- render 'social-share', share_title: product.title, share_permalink: product.url, share_image: product.featured_media -%}{% endif %}
            </div>
            {% endif %}

            {% if product_tabs or product.description.size > 0 %}
            <div{% if section.settings.layout == false and product.media.size > 0 %} class="row last clearfix"{% endif %}>
              <div class="{% if section.settings.layout == false %}{% if product.media.size > 0 %}ten{% else %}seven{% endif %} center text-left{% else %}{% if product.media.size > 0 %}six left{% else %}ten center text-left{% endif %}{% endif %} bottompad clearfix">
                
                {% comment %}Used with permission: https://gist.github.com/tairli/aecb41ffd3ffc0c08ba502636461fb97{%- endcomment -%}
                {%- assign product_description = false -%}
                {% if product.description.size > 0 %}
                {%- assign description = product.description -%}
                {%- assign product_description = true -%}
                {% if product.description contains '<h6>' %}
                {%- assign tab_heads = '' -%}
                {%- assign tab_texts = '' -%}
                {%- assign chunks = description | strip | split: '<h6>' -%}
                {% for c in chunks %}
                {% if c contains '</h6>' %}
                {%- assign chunk = c | split: '</h6>' -%}
                {%- assign tab_heads = tab_heads | append: ',,' | append: chunk.first -%}
                {%- assign tab_texts = tab_texts | append: ',,' | append: chunk.last  -%}
                {% elsif forloop.first %}
                {% if c == '' %}
                {%- assign product_description = false -%}
                {% endif %}
                {% endif %}
                {% endfor %}
                {%- assign tab_heads = tab_heads | remove_first: ',,' | split: ',,' -%}
                {%- assign tab_texts = tab_texts | remove_first: ',,' | split: ',,' -%}
                {% endif %}
                {% endif %}
                
                {%- capture benefits_tab_title -%}{{ 'products.general.benefits' | t }}{%- endcapture -%}
                {%- capture nutrition_tab_title -%}{{ 'products.general.ingredients' | t }}{%- endcapture -%}

                {%- assign benefits_tab_body = product.metafields['qdl']['benefits'] | default: '' -%}
                {%- assign nutrition_tab_body = product.metafields['qdl']['nutrition'] | default: '' -%}


                <div class="tabs tabs-id-{{ section.id }} relative" role="tablist">

                  <div class="glider-contain">
                    <div id="tabs-carousel-{{ section.id }}" class="glider no-drag load table-center product-page clearfix">
                      <div class="glider-track product-tabs">
                        {% if product_description %}
                        <a id="tab-description" title="description" href="#description" class="title first" aria-controls="description" role="tab" aria-selected="true" tabindex="0" style="min-width:{{ 'products.general.description' | t | size | times: 12.5 | plus: 40 }}px">
                          <span class="h5">{{ 'products.general.description' | t }}</span>
                        </a>
                        {% endif %}
                        {% for head in tab_heads %}
                        <a id="tab-{{ forloop.index }}" title="description-{{ forloop.index }}" href="#description-{{ forloop.index }}" class="title{% unless product_description %}{% if forloop.first %} first{% endif %}{% endunless %}" aria-controls="block-{{ block.id }}" role="tab" aria-selected="{% if forloop.first %}{% if product_description %}false{% else %}true{% endif %}{% else %}false{% endif %}" tabindex="0" style="min-width:{{ head | size | times: 12.5 | plus: 40 }}px" {{ block.shopify_attributes }}>
                          <span class="h5">{{ head }}</span>
                        </a>
                        {% endfor %}
                        {%- assign tab_blocks = 0 -%}
                        
                        {% for block in section.blocks %}
                        {% if block.type == 'page' %}
                        {%- assign product_tabs_page = false -%}
                        {% if block.settings.tag != blank %}
                        {% if product.tags contains block.settings.tag %}
                        {%- assign product_tabs_page = true -%}
                        {% endif %}
                        {% else %}
                        {%- assign product_tabs_page = true -%}
                        {% endif %}

                        {% if product_tabs_page %}
                        {%- capture tab_blocks -%}{{ tab_blocks | plus: 1 }}{%- endcapture -%} 
                        {%- assign page = pages[block.settings.page] -%}
                        {%- capture block_title -%}
                        {%- if block.settings.title != blank -%}{{ block.settings.title }}{%- else -%}{%- unless page == blank -%}{{ page.title }}{%- else -%}{{ block.type | capitalize }}{%- endunless -%}{%- endif -%}
                        {%- endcapture -%}
                        <a id="tab-block-{{ block.id }}" title="block-{{ block.id }}" href="#block-{{ block.id }}" class="title{% unless product.description.size > 0 %}{% if tab_blocks == '1' %} first{% endif %}{% endunless %}" aria-controls="block-{{ block.id }}" role="tab" aria-selected="{% if forloop.first %}{% if product.description.size > 0 %}false{% else %}true{% endif %}{% else %}false{% endif %}" tabindex="0" style="min-width:{{ block_title | size | times: 12.5 | plus: 40 }}px" {{ block.shopify_attributes }}>
                          <span class="h5">{{ block_title }}</span>
                        </a>
                        {% endif %}
                        {% endif %}

                        {% if block.type == 'text' %}
                        {%- assign product_tabs_text = false -%}
                        {% if block.settings.tag != blank %}
                        {% if product.tags contains block.settings.tag %}
                        {%- assign product_tabs_text = true -%}
                        {% endif %}
                        {% else %}
                        {%- assign product_tabs_text = true -%}
                        {% endif %}

                        {% if product_tabs_text %}
                        {%- capture tab_blocks -%}{{ tab_blocks | plus: 1 }}{%- endcapture -%} 
                        {%- capture block_title -%}
                        {%- unless block.settings.title == blank -%}{{ block.settings.title }}{%- else -%}{{ block.type | capitalize }}{%- endunless -%}
                        {%- endcapture -%}
                        <a id="tab-block-{{ block.id }}" title="block-{{ block.id }}" href="#block-{{ block.id }}" class="title{% unless product.description.size > 0 %}{% if tab_blocks == '1' %} first{% endif %}{% endunless %}" aria-controls="block-{{ block.id }}" role="tab" aria-selected="{% if forloop.first %}{% if product.description.size > 0 %}false{% else %}true{% endif %}{% else %}false{% endif %}" tabindex="0" style="min-width:{{ block_title | size | times: 12.5 | plus: 40 }}px" {{ block.shopify_attributes }}>
                          <span class="h5">{{ block_title }}</span>
                        </a>
                        {% endif %}
                        {% endif %}

                        {% if block.type == 'html' %}
                        {%- assign product_tabs_html = false -%}
                        {% if block.settings.tag != blank %}
                        {% if product.tags contains block.settings.tag %}
                        {%- assign product_tabs_html = true -%}
                        {% endif %}
                        {% else %}
                        {%- assign product_tabs_html = true -%}
                        {% endif %}
                        {% if product_tabs_html %}
                        {%- capture tab_blocks -%}{{ tab_blocks | plus: 1 }}{%- endcapture -%} 
                        {%- capture block_title -%}
                        {%- unless block.settings.title == blank -%}{{ block.settings.title }}{%- else -%}{{ block.type | capitalize }}{%- endunless -%}
                        {%- endcapture -%}
                        <a id="tab-block-{{ block.id }}" title="block-{{ block.id }}" href="#block-{{ block.id }}" class="title{% unless product.description.size > 0 %}{% if tab_blocks == '1' %} first{% endif %}{% endunless %}" aria-controls="block-{{ block.id }}" role="tab" aria-selected="{% if forloop.first %}{% if product.description.size > 0 %}false{% else %}true{% endif %}{% else %}false{% endif %}" tabindex="0" style="min-width:{{ block_title | size | times: 12.5 | plus: 40 }}px" {{ block.shopify_attributes }}>
                          <span class="h5">{{ block_title }}</span>
                        </a>
                        {% endif %}
                        {% endif %}                        
                        
                        {% endfor %}
                        
                        {%- if benefits_tab_body.size > 0 -%}                        
                          <a id="tab-pdp-benefits" title="pdp-benefits" href="#pdp-benefits" class="title" aria-controls="pdp-benefits" role="tab" aria-selected="false" tabindex="0" style="min-width:{{ benefits_tab_title | size | times: 12.5 | plus: 40 }}px">
                            <span class="h5">{{ benefits_tab_title }}</span>
                          </a>
                        {%- endif -%}
                        
                        {%- if nutrition_tab_body.size > 0 -%}                        
                          <a id="tab-pdp-ingredients" title="pdp-ingredients" href="#pdp-ingredients" class="title" aria-controls="pdp-ingredients" role="tab" aria-selected="false" tabindex="0" style="min-width:{{ nutrition_tab_title | size | times: 12.5 | plus: 40 }}px">
                            <span class="h5">{{ nutrition_tab_title }}</span>
                          </a>
                        {%- endif -%}
                      </div>
                    </div>

                    <div id="tabs-button-prev-{{ section.id }}" class="glider-button-prev disabled" role="button" aria-label="{{ 'products.general.previous' | t }}">{%- render 'icons-theme', icon: 'left', size: '16' -%}</div>
                    <div id="tabs-button-next-{{ section.id }}" class="glider-button-next disabled" role="button" aria-label="{{ 'products.general.next' | t }}">{%- render 'icons-theme', icon: 'right', size: '16' -%}</div>
                  </div>
                </div>

                {% if product_description %}
                <div id="description" class="product-desc tab-body tab-body-content tab-body-id-{{ section.id }}" aria-labelledby="tab-description" role="tabpanel" aria-hidden="false">
                  <div class="tabindex">{{ product.description | split: '<h6>' | first }}</div>
                </div>
                {% endif %}
                
                {% for text in tab_texts %}
                <div id="description-{{ forloop.index }}" class="tab-body tab-body-content tab-body-id-{{ section.id }}{% if product_description %} hide{% else %}{% unless forloop.first %} hide{% endunless %}{% endif %}" aria-labelledby="tab-{{ forloop.index }}" role="tabpanel" aria-hidden="{% if product_description %}true{% else %}{% if forloop.first %}false{% else %}true{% endif %}{% endif %}">
                  <div class="tabindex">{{ text }}</div>
                </div>
                {% endfor %}

                {%- assign tab_blocks = 0 -%}
                {% for block in section.blocks %}

                {% if block.type == 'page' %}
                {%- assign product_tabs_page = false -%}
                {% if block.settings.tag != blank %}
                {% if product.tags contains block.settings.tag %}
                {%- assign product_tabs_page = true -%}
                {% endif %}
                {% else %}
                {%- assign product_tabs_page = true -%}
                {% endif %}
                {% if product_tabs_page %}
                {%- capture tab_blocks -%}{{ tab_blocks | plus: 1 }}{%- endcapture -%}                
                <div id="block-{{ block.id }}" class="tab-body tab-body-content tab-body-id-{{ section.id }}{% if product.description.size > 0 %} hide{% else %}{% unless tab_blocks == '1' %} hide{% endunless %}{% endif %}" aria-labelledby="tab-block-{{ block.id }}" role="tabpanel" aria-hidden="{% if product.description.size > 0 %}true{% else %}{% if forloop.first %}false{% else %}true{% endif %}{% endif %}">
                  <div class="tabindex">
                    {% assign page = pages[block.settings.page] %}
                    {% if page != blank %}{{ page.content }}{% else %}<p>{{ 'homepage.onboarding.page_excerpt' | t }}</p>{% endif %}
                  </div>
                </div>
                {% endif %}
                {% endif %}

                {% if block.type == 'text' %}
                {%- assign product_tabs_text = false -%}
                {% if block.settings.tag != blank %}
                {% if product.tags contains block.settings.tag %}
                {%- assign product_tabs_text = true -%}
                {% endif %}
                {% else %}
                {%- assign product_tabs_text = true -%}
                {% endif %}
                {% if product_tabs_text %}
                {%- capture tab_blocks -%}{{ tab_blocks | plus: 1 }}{%- endcapture -%}                
                <div id="block-{{ block.id }}" class="tab-body tab-body-content tab-body-id-{{ section.id }}{% if product.description.size > 0 %} hide{% else %}{% unless tab_blocks == '1' %} hide{% endunless %}{% endif %}" aria-labelledby="tab-block-{{ block.id }}" role="tabpanel" aria-hidden="{% if product.description.size > 0 %}true{% else %}{% if forloop.first %}false{% else %}true{% endif %}{% endif %}">
                  <div class="tabindex">
                    {% if block.settings.body != blank %}{{ block.settings.body }}{% else %}<p>{{ 'homepage.onboarding.product_text' | t }}</p>{% endif %}
                  </div>
                </div>
                {% endif %}
                {% endif %}

                {% if block.type == 'html' %}
                {%- assign product_tabs_html = false -%}
                {% if block.settings.tag != blank %}
                {% if product.tags contains block.settings.tag %}
                {%- assign product_tabs_html = true -%}
                {% endif %}
                {% else %}
                {%- assign product_tabs_html = true -%}
                {% endif %}
                {% if product_tabs_html %}
                {%- capture tab_blocks -%}{{ tab_blocks | plus: 1 }}{%- endcapture -%}                
                <div id="block-{{ block.id }}" class="tab-body tab-body-content tab-body-id-{{ section.id }}{% if product.description.size > 0 %} hide{% else %}{% unless tab_blocks == '1' %} hide{% endunless %}{% endif %}" aria-labelledby="tab-block-{{ block.id }}" role="tabpanel" aria-hidden="{% if product.description.size > 0 %}true{% else %}{% if forloop.first %}false{% else %}true{% endif %}{% endif %}">
                  <div class="tabindex">
                    {% if block.settings.html != blank %}{{ block.settings.html }}{% else %}<p>{{ 'homepage.onboarding.no_body' | t }}</p>{% endif %}
                  </div>
                </div>
                {% endif %}
                {% endif %}

                {% endfor %}

                {%- if benefits_tab_body.size > 0 -%}
                <div id="pdp-benefits" class="tab-body tab-body-content tab-body-id-{{ section.id }} hide" aria-labelledby="tab-pdp-benefits" role="tabpanel" aria-hidden="true">
                  <div class="tabindex">
                    {{- benefits_tab_body -}}
                  </div>
                </div>
                {%- endif -%}

                {%- if nutrition_tab_body.size > 0 -%}
                  <div id="pdp-ingredients" class="tab-body tab-body-content tab-body-id-{{ section.id }} hide" aria-labelledby="tab-pdp-ingredients" role="tabpanel" aria-hidden="true">
                    <div class="tabindex">
                      {{- nutrition_tab_body -}}
                    </div>
                  </div>
                {%- endif -%}

              </div>
            </div>
            {% endif %}          
            
            {% endform %}
            
          </div>
        </div>
      </div>
    </div>
  </div>

  {% if section.settings.reviews_enable %}
  <div id="reviews" class="background-colored {{ section.settings.include_color }} colored-top-bottom bottompad clearfix">
    <div class="container clearfix">
      <div{% if full_width == false and section.settings.include_color != 'color-none' or header_image %} class="twelve"{% endif %}>
        <div{% if full_width == false and section.settings.include_color != 'color-none' or header_image %} class="twelve"{% endif %}>
          <div{% if section.settings.include_color != 'color-none' or header_image %} class="twelve"{% endif %}>
            <div{% if section.settings.include_color != 'color-none' or header_image %} class="twelve"{% endif %}>
              <div class="twelve">
                <!-- To add a new review app, install code between the comments -->
                <div id="shopify-product-reviews" class="reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
                <!-- End comments -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

</section>

{%- assign current_variant = product.selected_or_first_available_variant -%}
<script type="application/ld+json"> 
{%- assign product_url = product.url | within: collection -%}
{
  "@context": "http://schema.org/",
  "@type": "Product",
  "name": {{ product.title | json }},
  "productID": {{ product.id | json }},
  "@id": {{ shop.url | append: product_url | json }},
  "url": {{ shop.url | append: product_url | json }},
  {% if product.featured_media %}{%- assign image_size = product.featured_media.width | append: 'x' -%}"image": [{{ product.featured_media.src | img_url: image_size | prepend: 'https:' | json }}],{% endif %}
  "description": {{ product.description | strip_html | json }},
  {% if current_variant.barcode != blank %}
  "gtin": {{ current_variant.barcode | json }},
  "mpn": {{ current_variant.barcode | json }},
  {% endif %}
  {% if current_variant.sku != blank %}"sku": {{ current_variant.sku | json }},{% endif %}
  "brand": {
    "@type": "Thing",
    "name": {{ product.vendor | json }}
  },
  "offers": [
  {%- for variant in product.variants -%}
  {%- assign variant_url = variant.url | within: collection -%}
  {
    "@type": "Offer",
    {% if variant.barcode != blank %}
    "gtin": {{ variant.barcode | json }},
    "mpn": {{ variant.barcode | json }},
    {% endif %}
    {% if variant.sku != blank %}"sku": {{ variant.sku | json }},{% endif %}
    "priceCurrency": {{ cart.currency.iso_code | json }},
    "price": "{{ variant.price | divided_by: 100.00 }}",
    "priceValidUntil": "{{ 'now' | date: '%s' | plus: 31536000 | date: '%Y-%m-%d' | uri_encode | replace:'+','%20' }}",
    "availability": "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
    "url" : {{ shop.url | append: variant_url | json }},
    "seller": {
      "@type": "Organization",
      "name": {{ shop.name | json }}
    }
  }{% unless forloop.last %},{% endunless %}
  {%- endfor -%}
  ]
}
</script>

<style>
  .content-height-{{ section.id }} {
    height:100%;
    {% if section.settings.layout or header_image %}height:{{ section.settings.padding | times: 0.75 }}vh;min-height:{{ section.settings.padding | times: 0.75 }}vh{% else %}height:5vh;min-height:5vh;{% endif %}
  }
  .relative-{{ section.id }}{
    {% if section.settings.layout or header_image %}margin-bottom:-{{ section.settings.padding | divided_by: 4 }}vh;padding-bottom:{{ section.settings.padding | divided_by: 4 }}vh;{% else %}margin-bottom:-5vh;padding-bottom:5vh;{% endif %}
  }
  {% if section.settings.background_img_overlay != blank %}{%- assign alpha = section.settings.background_img_overlay_opacity | times: 0.01 -%}.background-overlay-{{ section.id }}{background:{{ section.settings.background_img_overlay |  color_modify: 'alpha', alpha }};}{% endif %}
</style>

{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "header",
        "content": "Banner"
      },
      {
        "type": "select",
        "id": "background_alignment",
        "label": "Image position",
        "default": "center center",
        "options": [
          {
            "label": "Top left",
            "value": "left top"
          },
          {
            "label": "Top center",
            "value": "center top"
          },
          {
            "label": "Top right",
            "value": "right top"
          },
          {
            "label": "Middle left",
            "value": "left center"
          },
          {
            "label": "Middle center",
            "value": "center center"
          },
          {
            "label": "Middle right",
            "value": "right center"
          },
          {
            "label": "Bottom left",
            "value": "left bottom"
          },
          {
            "label": "Bottom center",
            "value": "center bottom"
          },
          {
            "label": "Bottom right",
            "value": "right bottom"
          }
        ]
      }, 
      {
        "type": "checkbox",
        "id": "font_color",
        "label": "White text",
        "default": false
      },
	  {
       "type": "checkbox",
       "id": "full_width",
       "label": "Full width",
       "default": true
      },
      {
        "type": "range",
        "id": "padding",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "%",
        "label": "Height",
        "default": 30
      },
	  {
        "type": "color",
        "id": "background_img_overlay",
        "label": "Overlay"
      },
      {
        "type": "range",
        "id": "background_img_overlay_opacity",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "%",
        "label": "Opacity",
        "default": 0
      },
	  {
        "type": "select",
        "id": "include_color",
        "label": "Background color",
        "default": "color-primary",
        "options": [
          {
            "value": "color-primary",
            "label": "Primary"
          },
          {
            "value": "color-secondary",
            "label": "Secondary"
          },
          {
            "value": "color-none",
            "label": "None"
          }
        ]
      },
      {
        "type": "header",
        "content": "Media"
      },
	  {
        "type": "paragraph",
        "content": "Learn more about [media types](https:\/\/help.shopify.com\/en\/manual\/products\/product-media)"
      },
      {
        "type": "checkbox",
        "id": "zoom_enable",
        "label": "Enable image zoom",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "zoom_mobile_enable",
        "label": "Enable zoom to be used on mobile devices",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "loop_enable",
        "label": "Enable video looping",
        "default": true
      },
      {
        "type": "header",
        "content": "Options"
      },
      {
        "type": "checkbox",
        "id": "layout",
        "label": "Banner layout",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "include_breadcrumbs",
        "label": "Show breadcrumbs",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "sku_enable",
        "label": "Show product SKU",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "vendor_enable",
        "label": "Show product vendor",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "reviews_enable",
        "label": "Show product reviews",
        "info": "Install the free Shopify [Product Reviews](https:\/\/apps.shopify.com\/product-reviews) app to add product reviews.",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "product_availability_enable",
        "label": "Show product availability",
        "default": true
      },
      {
        "type": "range",
        "id": "product_availability_total",
        "min": 2,
        "max": 100,
        "step": 1,
        "label": "Minimum number of products remaining to display remaining stock",
        "default": 15
      },
      {
        "type": "checkbox",
        "id": "var_length_enable",
        "label": "Show single option variant",
        "default": false
      },
	  {
        "type": "select",
        "id": "variant_enable",
        "label": "Variant options",
        "default": "color-size-block",
        "options": [
          {
            "value": "block",
            "label": "All buttons"
          },
          {
            "value": "color-block",
            "label": "Color buttons"
          },
          {
            "value": "size-block",
            "label": "Size buttons"
          },
          {
            "value": "color-size-block",
            "label": "Color and size buttons"
          },
          {
            "value": "dropdown",
            "label": "All dropdowns"
          }
        ]
      },
	  {
        "type": "select",
        "id": "variant_color_enable",
        "label": "Color buttons",
        "default": "var-img-block",
        "options": [
          {
            "value": "block",
            "label": "Colors"
          },
          {
            "value": "var-img-block",
            "label": "Variant image"
          },
          {
            "value": "var-img-zoom-block",
            "label": "Maginified variant image"
          },
          {
            "value": "img-block",
            "label": "Custom image"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "qty_enable",
        "label": "Show product quantity",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "go_to_cart_enable",
        "label": "Product add to cart redirection",
        "info": "Use to stay on the product page after clicking add to cart",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "smart_enable",
        "label": "Show dynamic checkout button",
        "info": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "surface_enable",
        "label": "Show surface pickup availability",
        "info": "Local pickup options can be displayed for each location where customers can go to get their orders. [Learn more](https://help.shopify.com/en/manual/shipping/setting-up-and-managing-your-shipping/local-methods/local-pickup)",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "include_social",
        "label": "Show social sharing buttons",
        "default": true
      }
    ],
	"blocks": [
      {
        "type": "text",
        "name": "Text",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "richtext",
            "id": "body",
            "label": "Text",
			"default": "<p>Add custom text to promote products, specials or offers</p>"
          },
          {
            "type": "text",
            "id": "tag",
            "label": "Tag filter"
          }
        ]
      },
      {
        "type": "page",
        "name": "Page",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
			"info": "Use the default title or select your own"
          },
          {
            "id": "page",
            "type": "page",
            "label": "Page"
          },
          {
            "type": "text",
            "id": "tag",
            "label": "Tag filter"
          }
        ]
      },
      {
        "type": "html",
        "name": "HTML",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "html",
            "id": "html",
            "label": "Custom HTML",
         	"default": "<div class='text-center'><p style='color:red'>Customize your content with HTML</p></div>"
          },
          {
            "type": "text",
            "id": "tag",
            "label": "Tag filter"
          }
        ]
      },
      {
        "type": "tooltip",
        "name": "Tooltip",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Variant title"
          },
          {
            "type": "html",
            "id": "html",
            "label": "Text or HTML"
          },
          {
            "type": "text",
            "id": "tag",
            "label": "Tag filter"
          }
        ]
      },
      {
        "type": "icon",
        "name": "Icon",
        "settings": [
          {
            "type": "select",
            "id": "icon",
            "label": "Icon",
            "default": "shield",
            "options": [
              {
                "group": "TRUST",
                "value": "lock",
                "label": "Lock"
              },
              {
                "group": "TRUST",
                "value": "lock-open",
                "label": "Lock - Open"
              },
              {
                "group": "TRUST",
                "value": "lock-round",
                "label": "Lock - Round"
              },
              {
                "group": "TRUST",
                "value": "lock-round-open",
                "label": "Lock - Round open"
              },
              {
                "group": "TRUST",
                "value": "shield",
                "label": "Shield"
              },
              {
                "group": "TRUST",
                "value": "shield-hero",
                "label": "Shield - Hero"
              },
              {
                "group": "TRUST",
                "value": "shield-star",
                "label": "Shield - Star"
              },
              {
                "group": "TRUST",
                "value": "shield-power",
                "label": "Shield - Power"
              },
              {
                "group": "TRUST",
                "value": "shield-check",
                "label": "Shield - Check"
              },
			  {
                "group": "MOTIVATION",
                "value": "certificate",
                "label": "Certificate"
              },
              {
                "group": "MOTIVATION",
                "value": "fire",
                "label": "Hot"
              },
              {
                "group": "MOTIVATION",
                "value": "leaf",
                "label": "Eco-friendly"
              },
              {
                "group": "MOTIVATION",
                "value": "medal",
                "label": "Medal"
              },
              {
                "group": "MOTIVATION",
                "value": "power",
                "label": "Power"
              },
              {
                "group": "MOTIVATION",
                "value": "recycle",
                "label": "Recycle"
              },
              {
                "group": "MOTIVATION",
                "value": "star",
                "label": "Star"
              },
              {
                "group": "MOTIVATION",
                "value": "trophy",
                "label": "Trophy"
              },
              {
                "group": "SUPPORT",
                "value": "computer",
                "label": "Computer"
              },
			  {
                "group": "SUPPORT",
                "value": "email",
                "label": "E-mail"
              },
			  {
                "group": "SUPPORT",
                "value": "email-fast",
                "label": "E-mail - Fast"
              },
			  {
                "group": "SUPPORT",
                "value": "gear",
                "label": "Gear"
              },
              {
                "group": "SUPPORT",
                "value": "hammer",
                "label": "Hammer"
              },
              {
                "group": "SUPPORT",
                "value": "help",
                "label": "Help"
              },
              {
                "group": "SUPPORT",
                "value": "screwdriver",
                "label": "Screwdriver"
              },
              {
                "group": "SUPPORT",
                "value": "wrench-screwdriver",
                "label": "Screwdriver and wrench"
              },
              {
                "group": "SUPPORT",
                "value": "smartphone",
                "label": "Smartphone"
              },
              {
                "group": "SUPPORT",
                "value": "support",
                "label": "Support"
              },
              {
                "group": "SUPPORT",
                "value": "telephone",
                "label": "Telephone"
              },
              {
                "group": "SUPPORT",
                "value": "telephone-answer",
                "label": "Telephone - Answered"
              },
              {
                "group": "SUPPORT",
                "value": "wrench",
                "label": "Wrench"
              },
			  {
                "group": "COMMERCE",
                "value": "box",
                "label": "Box"
              },
			  {
                "group": "COMMERCE",
                "value": "box-fast",
                "label": "Box - Fast"
              },
			  {
                "group": "COMMERCE",
                "value": "box-label",
                "label": "Box - Label"
              },
			  {
                "group": "COMMERCE",
                "value": "box-up",
                "label": "Box - Up"
              },
              {
                "group": "COMMERCE",
                "value": "dress",
                "label": "Clothing - Dress"
              },
              {
                "group": "COMMERCE",
                "value": "pants",
                "label": "Clothing - Pants"
              },
              {
                "group": "COMMERCE",
                "value": "shirt",
                "label": "Clothing - T-shirt"
              },
              {
                "group": "COMMERCE",
                "value": "tank-top",
                "label": "Clothing - Tank top"
              },
              {
                "group": "COMMERCE",
                "value": "credit-card",
                "label": "Credit card"
              },
              {
                "group": "COMMERCE",
                "value": "delivery-scooter",
                "label": "Delivery - Scooter"
              },
              {
                "group": "COMMERCE",
                "value": "delivery-truck",
                "label": "Delivery - Truck"
              },
              {
                "group": "COMMERCE",
                "value": "delivery-truck-speed",
                "label": "Delivery - Truck fast"
              },
              {
                "group": "COMMERCE",
                "value": "hand-cart-1",
                "label": "Hand cart 1"
              },
              {
                "group": "COMMERCE",
                "value": "hand-cart-2",
                "label": "Hand cart 2"
              },
              {
                "group": "COMMERCE",
                "value": "tag",
                "label": "Tag"
              },
              {
                "group": "COMMERCE",
                "value": "tag-text",
                "label": "Tag - Text"
              },
              {
                "group": "COMMERCE",
                "value": "weight-kg",
                "label": "Weight - kg"
              },
              {
                "group": "COMMERCE",
                "value": "weight-lb",
                "label": "Weight - lb"
              },
			  {
                "group": "INFORMATION",
                "value": "calendar",
                "label": "Calendar"
              },
              {
                "group": "INFORMATION",
                "value": "chat-box",
                "label": "Chat - Box"
              },
              {
                "group": "INFORMATION",
                "value": "chat-bubble",
                "label": "Chat - Bubble"
              },
              {
                "group": "INFORMATION",
                "value": "chat-information",
                "label": "Chat - Information"
              },
              {
                "group": "INFORMATION",
                "value": "chat-social",
                "label": "Chat - Social"
              },
              {
                "group": "INFORMATION",
                "value": "chat-question",
                "label": "Chat - Question"
              },
              {
                "group": "INFORMATION",
                "value": "clipboard",
                "label": "Clipboard"
              },
              {
                "group": "INFORMATION",
                "value": "edit",
                "label": "Edit"
              },
              {
                "group": "INFORMATION",
                "value": "information",
                "label": "Information"
              },
              {
                "group": "INFORMATION",
                "value": "map",
                "label": "Map"
              },
              {
                "group": "INFORMATION",
                "value": "map-marker",
                "label": "Map marker"
              },
              {
                "group": "INFORMATION",
                "value": "newsletter",
                "label": "Newsletter"
              },
              {
                "group": "INFORMATION",
                "value": "pencil",
                "label": "Pencil"
              },
              {
                "group": "INFORMATION",
                "value": "question",
                "label": "Question"
              },
              {
                "group": "HEALTH",
                "value": "covid",
                "label": "COVID"
              },
              {
                "group": "HEALTH",
                "value": "covid-warning",
                "label": "COVID - Warning"
              },
              {
                "group": "HEALTH",
                "value": "distancing",
                "label": "Distancing"
              },
              {
                "group": "HEALTH",
                "value": "hands-sanitize",
                "label": "Hands - Sanitize"
              },
              {
                "group": "HEALTH",
                "value": "hands-wash",
                "label": "Hands - Wash"
              },
              {
                "group": "HEALTH",
                "value": "mask-1",
                "label": "Mask 1"
              },
              {
                "group": "HEALTH",
                "value": "mask-2",
                "label": "Mask 2"
              },
			  {
                "group": "MISCELLANEOUS",
                "value": "axe",
                "label": "Axe"
              },
              {
                "group": "MISCELLANEOUS",
                "value": "bell-ring",
                "label": "Bell"
              },
              {
                "group": "MISCELLANEOUS",
                "value": "bookmark",
                "label": "Bookmark"
              },
              {
                "group": "MISCELLANEOUS",
                "value": "camera",
                "label": "Camera"
              },
              {
                "group": "MISCELLANEOUS",
                "value": "clock",
                "label": "Clock"
              },
              {
                "group": "MISCELLANEOUS",
                "value": "cloud",
                "label": "Cloud"
              },
              {
                "group": "MISCELLANEOUS",
                "value": "cloud-check",
                "label": "Cloud with check"
              },
              {
                "group": "MISCELLANEOUS",
                "value": "crown",
                "label": "Crown"
              },
              {
                "group": "MISCELLANEOUS",
                "value": "diamond",
                "label": "Diamond"
              },
              {
                "group": "MISCELLANEOUS",
                "value": "heart",
                "label": "Heart"
              },
              {
                "group": "MISCELLANEOUS",
                "value": "history",
                "label": "History"
              },
              {
                "group": "MISCELLANEOUS",
                "value": "bulb",
                "label": "Light bulb"
              },
              {
                "group": "MISCELLANEOUS",
                "value": "megaphone",
                "label": "Megaphone"
              },
              {
                "group": "MISCELLANEOUS",
                "value": "paper-plane",
                "label": "Paper plane"
              },
              {
                "group": "MISCELLANEOUS",
                "value": "piggy-bank",
                "label": "Piggy bank"
              },
              {
                "group": "MISCELLANEOUS",
                "value": "pin",
                "label": "Pin"
              },
              {
                "group": "MISCELLANEOUS",
                "value": "rocket",
                "label": "Rocket"
              },
              {
                "group": "MISCELLANEOUS",
                "value": "horns",
                "label": "Rock on!"
              },
              {
                "group": "MISCELLANEOUS",
                "value": "speed",
                "label": "Speed"
              },
              {
                "group": "MISCELLANEOUS",
                "value": "sync",
                "label": "Sync"
              },
              {
                "group": "MISCELLANEOUS",
                "value": "thumbs-up",
                "label": "Thumbs up"
              },
              {
                "group": "MISCELLANEOUS",
                "value": "ticket",
                "label": "Ticket"
              },
              {
                "group": "MISCELLANEOUS",
                "value": "trash",
                "label": "Trash"
              },
              {
                "group": "MISCELLANEOUS",
                "value": "volume",
                "label": "Volume"
              },
              {
                "group": "MISCELLANEOUS",
                "value": "warning",
                "label": "Warning"
              },
              {
                "group": "MISCELLANEOUS",
                "value": "warning-disabled",
                "label": "Warning - Disabled"
              },
              {
                "group": "MISCELLANEOUS",
                "value": "warning-skull",
                "label": "Warning - Skull"
              },
              {
                "group": "MISCELLANEOUS",
                "value": "warning-stop",
                "label": "Warning - Stop"
              }
            ]
          },
          {
            "type": "image_picker",
            "id": "block_img",
            "label": "Custom icon"
          },
          {
            "type": "color",
            "id": "icon_color",
            "label": "Icon color"
          },
          {
            "type": "color",
            "id": "icon_color_h",
            "label": "Icon highlight color"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
			"default": "<p><strong>Trust</strong><br/>Icon</p>"
          },
          {
            "type": "checkbox",
            "id": "pop_up",
            "label": "Enable pop up window",
            "default": false
          },
          {
            "id": "page",
            "type": "page",
            "label": "Pop up information"
          },
          {
            "type": "text",
            "id": "tag",
            "label": "Tag filter"
          }
        ]
      }
    ]
  }
{% endschema %}
